.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 94px 3px;
}

.address {
  display: flex;
  padding-right: 90px;
  flex-direction: column;
  text-align: left;
  justify-self: end;
  list-style: none;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.header__menu {
  margin: 0;
  padding-left: 48px;
}

.header__links-list {
  display: flex;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  list-style: circle;
  line-height: 100%;
  padding-left: 10px;
  gap: 33px;
  padding: 0;
  margin: 0;

}

.header__links-list-item {
  margin: 0;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  justify-self: center;
  width: 135px;
}

.header__logo-image {
  display: block;
  width: 100%;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  display: block;
  width: 100%;
  min-height: 757px;
  padding: 146px 50px 50px;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
  padding-left: 0px;
  padding-top: 20px;
}

.aligned-text_center {
  text-align: center;
  padding-top: 20px;
  padding-left: 33px;
}

.aligned-text_right {
  padding-top: 20px;
  align-self: flex-end;
  margin-right: -32px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  gap: 110px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  white-space: nowrap;
  margin-top: 107px;
}

.cover__description-text {
  color: white;
  word-spacing: 18px;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  z-index: 3;
  font-weight: 400;
  letter-spacing: 0px;
  padding-top: 0;
}

.bet-button {
  background: transparent;
  color: white;
  width: 256px;
  min-height: 51px;
  border-color: white;
  border-width: 1px;
  z-index: 3;
  text-transform: uppercase;
  padding-bottom: 1px;
  cursor: pointer;
  border-style: solid;
}

.lots {
  padding: 183px 24px 153px 24px;
}

.lots__heading {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-left: 43px;

}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;


}

.card-link {
  display: flex;
  text-decoration: none;

}

.lots__card-list-item {
  position: relative;
  width: calc((100% - 50px) / 3);
  display: flex;
}

.card {
  min-height: 596px;
  display: flex;
  background-size: cover;
  flex-direction: column;
  position: relative;
  background-position: center;
  flex-grow: 1;

}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);

}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}


.card__title {
  position: relative;
  z-index: 1;
  padding: 49px 40px 0;
  color: white;
  margin: 0;
  max-width: 340px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
  text-align: left;
  align-self: flex-start;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  margin-top: auto;
  padding: 30px 40px 50px;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: white;
  z-index: 3;
  line-height: 120%;
}

.lots__look-more-link {
  color: black;
  margin-left: 40px;
  margin-top: 30px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.lots__look-more-link_text {
  border-bottom: 1px solid black;
  line-height: 50%;
  text-underline-offset: 5px;
  text-decoration: underline;
}

.about {
  padding: 0 24px;
}


.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;

}

.about__logo {
  display: grid;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
  justify-self: center;
}

.about__logo-image {
  display: block;
  width: 150px;
  height: auto;
  align-self: center;
  margin-left: 42px;
}

.about__title_and_text {
  margin: 100px 0 183px;
  padding-left: 25px;
  display: grid;
  row-gap: 100px;
}

.about__title {
  color: black;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about__text {
  display: grid;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  row-gap: 26px;
  max-width: 690px;
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 80px;
}

.footer__menu {
  display: grid;
  align-items: start;
  justify-items: center;
  padding-left: 10px;
}

.footer__menu-list {
  list-style-type: none;
  margin-right: 95px;
}

.footer__menu-link {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-skip-ink: none;
  display: grid;
  align-self: center;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}